<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategoriler</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="mobile-app">

    <header class="page-header">
        <a href="/">←</a>
        <h2>Kategoriler</h2>
        <span>🔍</span>
    </header>

    <div class="category-page-grid">

        <div class="big-category-card">
            <div class="category-preview purple"></div>
            <h3>Elbise</h3>
        </div>

        <div class="big-category-card">
            <div class="category-preview black"></div>
            <h3>Üst Giyim</h3>
        </div>

        <div class="big-category-card">
            <div class="category-preview gold"></div>
            <h3>Alt Giyim</h3>
        </div>

        <div class="big-category-card">
            <div class="category-preview dark"></div>
            <h3>Ayakkabı</h3>
        </div>

        <div class="big-category-card">
            <div class="category-preview bag"></div>
            <h3>Çanta</h3>
        </div>

        <div class="big-category-card">
            <div class="category-preview luxury"></div>
            <h3>Aksesuar</h3>
        </div>

    </div>

</div>

</body>
</html>