<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="app">
    <div class="container">

        <div class="auth-box">
            <h2>Giriş Yap</h2>

            <form method="POST">
                <input name="username" placeholder="Kullanıcı adı" required>
                <input name="password" type="password" placeholder="Şifre" required>

                <button class="btn">Giriş Yap</button>
            </form>

            <p class="auth-link">
                Hesabın yok mu?
                <a href="/register">Kayıt Ol</a>
            </p>
        </div>

    </div>
</div>

</body>
</html>